body {
  font-family: "Lato", sans-serif;
}
.main_wrapper {
  margin-top: 20px;
  margin-bottom: 40px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ff443a;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.side_bar {
  transition: 0.5s ease;
  /* border: 2px solid red; */
}
.menu {
  color: #ff443a;
}

.sidenav a {
  padding: 12px 8px;
  text-decoration: none;
  font-size: 22px;
  color: #fff;
  text-align: center;
  display: block;
  transition: 0.3s;
  margin: 0;
  border-radius: 10px;
}
.sidenav .closebtn {
  margin: 0;
}
.sidenav .active {
  background-color: #fff;
  color: black;
  font-weight: 600;
}
#mySidenav {
  display: flex;
  flex-direction: column;
}

.side_bar_main_wrapper {
  display: flex;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav a:hover {
  color: #000000;
}
.basic_card {
  display: flex;
  flex-wrap: wrap;
  background-color: #bedeff;
  padding: 36px 24px;
  height: 100%;
  gap: 16px;
  border-radius: 10px;
}
.basic_card .basic_card_img {
  flex: 1;
  display: flex;
  align-items: center;
}
.basic_card .basic_card_img img {
  width: 100%;
}
.basic_card .basic_card_content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.basic_card .basic_card_content h1 {
  font-weight: 700;
  font-size: 22px;
}
.watch_now_btn {
  padding: 12px;
  background-color: #ff443a;
  border: none;
  outline: none;
  border-radius: 1.4rem;
  max-width: 120px;
  width: 100%;
  color: #fff;
  margin-top: 44px;
  transition: 0.3s ease;
}
.watch_now_btn:hover {
  background-color: #bd3129;
}
.upstox_card {
  display: flex;
  width: 100%;
  gap: 16px;
  padding: 16px;
  background-color: #8c52ff;
  border-radius: 10px;
  color: #fff;
  align-items: center;
  margin-bottom: 16px;
}
.upstox_card .upstox_profile {
  width: 100%;
  max-width: 130px;
  height: 118px;
  background-color: #5a298b;
}
.upstox_content h1 {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.4px;
}

.upstox_content p {
  letter-spacing: 0.4px;
}

.upstox_content .upstox_btn,
.upstox_btn_two {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.upstox_content .upstox_btn button {
  padding: 12px;
  background-color: #5a298b;
  border: none;
  outline: none;
  border-radius: 1.4rem;
  max-width: 120px;
  width: 100%;
  color: #fff;
  transition: 0.3s ease;
}
.upstox_content .upstox_btn button:hover {
  background-color: #7d17e4;
}
.section_two {
  margin-top: 16px;
}

.upstox_card_two {
  display: flex;
  width: 100%;
  gap: 16px;
  padding: 16px;
  background-color: #7ed957;
  border-radius: 10px;
  color: #fff;
  align-items: center;
}
.upstox_card_two .upstox_profile {
  width: 100%;
  max-width: 130px;
  height: 118px;
  background-color: #78bc1e;
}
.upstox_content .upstox_btn_two button {
  padding: 12px;
  background-color: #78bc1e;
  border: none;
  outline: none;
  border-radius: 1.4rem;
  max-width: 120px;
  width: 100%;
  color: #fff;
  transition: 0.3s ease;
}
.upstox_content .upstox_btn_two button:hover {
  background-color: #54880f;
}
.episode_card_wrapper {
  display: flex;
  gap: 16px;
}
.episode_details_wrapper_1 {
  flex: 1;
}
.episode_details_wrapper_2 {
  flex: 1;
}
.episode_video {
  width: 100%;
  height: 100%;
  max-width: 180px;
}
.episode_video iframe {
  height: 100%;
  border-radius: 4px;
}
.carousel-inner {
  height: 100%;
}
.carousel-item {
  height: 100%;
}
.video-2 {
  height: 400px;
}
.hidden {
  display: none;
}

.episode_card {
  display: flex;
  width: 100%;
  height: 160px;
  gap: 16px;
  padding: 16px;
  background-color: #ffe1d3;
  border-radius: 10px;
  color: #000000;
  align-items: center;
  margin-bottom: 16px;
}

.episode_card h1 {
  font-weight: 400;
  font-size: 20px;
}
.episode_card p {
  margin: 0;
  margin-bottom: 10px;
}
.episode_content {
  display: flex;
  gap: 16px;
}
.episode_content .episode_details {
  flex: 2;
}
.episode_content .episode_play_icon {
  flex: 0.5;
}

.episode_content p {
  letter-spacing: 0.4px;
}
.episode_content .episode_play_icon {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: end;
}
.episode_play_icon svg {
  color: #ff7739;
  cursor: pointer;
}
.episode_video_2 {
  width: 100%;
  background-color: #000000;
}

.episode_card_two {
  display: flex;
  width: 100%;
  height: 160px;
  gap: 16px;
  padding: 16px;
  background-color: #cfedf1;
  border-radius: 10px;
  color: #000000;
  align-items: center;
  margin-bottom: 16px;
}
.episode_card_two h1 {
  font-weight: 400;
  font-size: 20px;
}
.episode_card_two p {
  margin: 0;
  margin-bottom: 10px;
}
.episode_card_two svg {
  color: #0076bf;
  cursor: pointer;
}

.episode_card_three {
  display: flex;
  width: 100%;
  height: 160px;
  gap: 16px;
  padding: 16px;
  background-color: #e3d6fd;
  border-radius: 10px;
  color: #000000;
  align-items: center;
}
.episode_card_three h1 {
  font-weight: 400;
  font-size: 20px;
}
.episode_card_three p {
  margin: 0;
  margin-bottom: 10px;
}
.episode_card_three svg {
  color: #0076bf;
  cursor: pointer;
}
.episode_video-2 {
  border-radius: 16px;
  padding: 12px;
  background-color: #545454;
}
.episode_video-2 iframe {
  border-radius: 4px;
  border: 6px solid #fff;
}
/* SECTION-THREE STYLES */
.tab-content {
  margin-top: 70px;
}
.section_three .tabs_wrapper {
  height: 100%;
}
.section_three .strategy_wrapper {
  height: 100%;
  gap: 16px;
}
.section_three .strategy_form {
  height: 80vh;
}
.section_three form {
  background-color: #fafafb;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
}

.section_three label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

.section_three input {
  width: 100%;
  padding: 8px;
  margin-bottom: 32px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.section_three .space_image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bedeff;
  height: 80vh;
  width: 100%;
  border-radius: 10px;
}
.add_height {
  min-height: 100%;
}
.carousel-indicators button {
  border-radius: 50%;
  width: 20px !important;
  height: 20px !important;
  margin: 0 5px;
  cursor: pointer;
}

.carousel-indicators .active {
  background-color: #ff7739;
}
.all_tab_links{
  margin-top: 50px;
}
.all_tab_links a{
  margin: 0 24px;
  margin-bottom: 28px;
}
@media screen and (max-width: 767px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
  #basic_card {
    margin-bottom: 16px;
  }
  .basic_card {
    padding: 16px;
  }
  .side_bar_main_wrapper {
    flex-direction: column;
  }
  .episode_video-2 {
    margin-top: 16px;
  }
  .section_three .strategy_wrapper {
    flex-wrap: wrap;
  }
  .section_three form {
    width: 100%;
  }
  .section_three .strategy_form {
    width: 100%;
    height: unset;
  }
  .episode_card_wrapper {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .section_three {
    margin-top: 50px;
  }
  .all_tab_links{
    margin-top: 80px;
  }
}
@media screen and (max-width: 576px) {
  .basic_card .basic_card_img {
    flex: inherit;
  }
  .watch_now_btn {
    margin-top: 12px;
  }
  .episode_video {
    max-width: 100%;
  }
  .episode_content {
    flex-direction: column;
  }
  .episode_card {
    height: auto;
    flex-direction: column;
  }
  .episode_details {
    text-align: center;
  }
  .episode_content .episode_play_icon {
    justify-content: center;
  }
  .episode_content .episode_play_icon svg {
    width: 50px;
    height: 50px;
  }

  .episode_card_two {
    height: auto;
    flex-direction: column;
  }
  .episode_card_two,
  .episode_video {
    max-width: 100%;
  }
  .episode_card_two,
  .episode_content {
    flex-direction: column;
  }

  .episode_card_three {
    height: auto;
    flex-direction: column;
  }
  .episode_card_three,
  .episode_video {
    max-width: 100%;
  }
  .episode_card_three,
  .episode_content {
    flex-direction: column;
  }
}
